body {
  font-family: 'Inter', sans-serif;
}

.form-login {
  max-width: 20rem;
  min-width: 18rem;
}

.alert {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
